body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:968px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u11310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:1100px;
  height:968px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u11310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u11313_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
}
#u11313_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u11314_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u11314_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11315_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:193px;
  height:23px;
}
#u11315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u11315_img.selected {
}
#u11315.selected {
}
#u11315_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-1px;
  width:176px;
  word-wrap:break-word;
}
#u11317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:101px;
}
#u11317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1078px;
  width:1100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u11317_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1096px;
  word-wrap:break-word;
}
#u11318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11318 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:160px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u11318_img.selected {
}
#u11318.selected {
}
#u11318_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u11319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11319 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:211px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u11319_img.selected {
}
#u11319.selected {
}
#u11319_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u11320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11320 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:972px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11320_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11320.mouseOver {
  opacity:0.8;
}
#u11320_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11320.mouseDown {
  opacity:1;
}
#u11320_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u11321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u11321 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:888px;
  width:459px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u11321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:457px;
  word-wrap:break-word;
}
#u11322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u11322 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:160px;
  width:459px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u11322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:459px;
  word-wrap:break-word;
}
#u11323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11323 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:381px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u11323_img.selected {
}
#u11323.selected {
}
#u11323_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u11324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11324 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:431px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u11324_img.selected {
}
#u11324.selected {
}
#u11324_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u11326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u11326 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:10px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u11326_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u11326.mouseOver {
}
#u11326_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u11327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u11327 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:17px;
  width:10px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u11327_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11328 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:212px;
  width:661px;
  height:160px;
}
#u11329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u11329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u11329_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:217px;
  word-wrap:break-word;
}
#u11330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u11330 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:0px;
  width:220px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u11330_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u11331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u11331 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:0px;
  width:220px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u11331_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u11332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u11332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:221px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u11332_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:217px;
  word-wrap:break-word;
}
#u11333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u11333 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:40px;
  width:220px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u11333_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u11334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u11334 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:40px;
  width:220px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u11334_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u11335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u11335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:221px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u11335_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:217px;
  word-wrap:break-word;
}
#u11336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u11336 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:80px;
  width:220px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u11336_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u11337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u11337 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:80px;
  width:220px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u11337_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u11338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u11338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:221px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u11338_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:217px;
  word-wrap:break-word;
}
#u11339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u11339 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:120px;
  width:220px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u11339_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u11340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u11340 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:120px;
  width:220px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u11340_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u11342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:50px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u11342 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:431px;
  width:830px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u11342_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u11342.selected {
}
#u11342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u11343 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:480px;
  width:830px;
  height:408px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u11343_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:408px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u11343.selected {
}
#u11343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:25px;
}
#u11344 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:444px;
  width:630px;
  height:25px;
}
#u11344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 241, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
.u11346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
.u11346_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
.u11346.mouseOver {
}
.u11346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11345-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-3 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-4 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-5 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-6 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-7 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-8 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-9 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-10 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-11 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-12 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-13 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-14 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-15 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-16 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-17 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345-18 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:0px;
  width:34px;
  height:34px;
}
#u11345 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:439px;
  width:612px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u11347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u11347 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:381px;
  width:350px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u11347_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:336px;
  word-wrap:break-word;
}
#u11348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u11348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u11348_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:1078px;
  word-wrap:break-word;
}
